
table { 
  float: left;
  border-spacing: 1;
  border-collapse: collapse; 
  overflow:hidden;
  background:rgb(173, 173, 173);
  border-radius: 6px;
  width:100%;
  margin-top: 20px;
  position:relative;
  color: white;
  font-size: 13px;
  box-shadow: 2px 2px 2px rgb(82, 82, 82);
}

td,th { 
  padding-left:30px; 
  padding-right: 40px;
}

thead tr { 
  height:40px;
  background:#b60000;
  font-size:14px;
}

tbody tr { 
  height:48px; 
  border-bottom:1px solid black;
  color: black;
}

tbody tr:last-child {
  border: 0
}

td,th { 
  text-align:left;
}

td,th:l { 
  text-align:right;
}

td,th:c { 
  text-align:center;
}

td,th:r { 
  text-align:center;
}