.banner {
    display: flex;
    justify-content: flex-start;
}
.stockNum{
    color: red;
}

/* Stock Bar */
.stockBar {
    width: 100%;
    height: 30px;
    background-color: #eae5da;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .stockBar h1 {
    color: #717777;
    margin: 0;
  }
  
  .stocks {
    white-space: normal;
  }
  