.greeting{
    display: flex;
    justify-content: flex-start;
}

.button, button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    border: none;
  }
  
  .button:hover, button:hover {
    opacity: 0.8;
    font-weight: normal;
  }
  
  .button:disabled, button:disabled {
    opacity: 0.5;
    cursor: auto;
  }
  
  /* Fancy Button */
  
  /* .fancy-button {
    background-color: white;
    color: #1976d2;
  } */
  
  .fancy-button i.material-icons {
    color: white;
    padding-right: 4px;
  }
  
  /* Top Bar */
  
  .top-bar {
    width: 100%;
    height: 68px;
    background-color: #96151d;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .top-bar h1 {
    color: white;
    margin: 0;
    padding-top: 46px;
  }
  
  .top-bar p {
    color: white;
    margin: 0;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
  
  .left {
    width: 200px;
    float: left;
    height: 55px;
  }
  .middle{
    display: flex;
  }
  
  .right {
  
    width: 200px;
  
  }